<html>
<head>
	<title>Register New User</title>
</head>
<body>
	<h2>Register</h2>
	<form action = 'register' method ='post'>
		{% csrf_token %}
		Email: <input type ='text' name ='email'>
		First Name:<input type ='text' name='first_name'>
		Last Name:<input type = 'text' name='last_name'>
		Password:<input type = 'password' name='password'>
		Comfirm Password:<input type ='password' name ='confirm password'>
		<input type='submit' name ='Register'>
	</form>
	<a href = '/signin'>Already have an account?</a>

